<nav class="navbar navbar-fixed-top navbar-inverse" ng-controller="topnavcontroller as vm">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Parking</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <button ng-click="vm.showlogin()">
                        Login
                    </button>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="" />
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="#" target="_blank">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>