<section id="settings-view" class="mainbar" data-ng-controller="settings">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Are you sure?</h3>
        </div>
        <div class="modal-body">
            <p>Do you want to delete the car type?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <button type="button" class="btn btn-info btn-lg" ng-click="openaddcar()">Add Car Type</button>
                        <div data-cc-widget-header title="Car Types">
                        </div>
                        <div class="widget-content text-info table-responsive">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Make</th>
                                        <th>Model</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in cartypes">
                                        <td>{{p.Id}}</td>
                                        <td>{{p.Make}}</td>
                                        <td>{{p.Model}}</td>
                                        <td><i class="fa fa-trash-o" style="cursor: pointer" ng-click="removecartype(p.Id)"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <form role="form" data-toggle="validator">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Car Type</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="carmake" class="control-label">Car Make:</label>
                                    <input type="text" ng-model="testmake" class="form-control" id="carmake" placeholder="Toyota" required>
                                </div>
                                <div class="form-group">
                                    <label for="carmodel" class="control-label">Car Model:</label>{{carmodel}}
                                    <input type="text" ng-model="testmodel" class="form-control" id="carmodel" placeholder="Hilux" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="savecartype()">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>