<div data-cc-sidebar data-ng-controller="sidebar as vm" ng-show="vm.isLoggedIn">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget">
        </div>
        <ul class="navi">
            <li class="nlightblue fade-selection-animation" data-ng-class="vm.isCurrent('dashboard')">
                <a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="nlightblue fade-selection-animation" data-ng-class="vm.isCurrent('admin')">
                <a href="#/admin"><i class="fa fa-lock"></i> Admin</a>
            </li>
            <li class="nlightblue fade-selection-animation" data-ng-class="vm.isCurrent('settings')">
                <a href="#/settings"><i class="fa fa-cog"></i> Settings</a>
            </li>
        </ul>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <p>{{message}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
