<nav class="navbar navbar-fixed-top navbar-inverse" ng-controller="topnavcontroller as vm">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><img src="/Content/images/icon.png" /></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li ng-hide="vm.isLoggedIn">
                    <a href="#" ng-click="vm.showlogin()">
                        Login
                    </a>
                </li>
                <li ng-show="vm.isLoggedIn">
                    <a href="#" ng-click="vm.logout()">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>